body,
html {
  background-color: black;
}

nav a:link,
nav a {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

main {
  color: whitesmoke;
}

main h1,
main h2,
main h3 {
  color: #FF6700;
}

article h1 {
  color: rgb(27, 27, 27);
}

article h2 {
  color: darkslategrey;
  margin-bottom: 5px;
  margin-top: 5vh;
}

article p {
  font-size: 75%;
}

.hero h1,
.hero h2 {
  color: white;
}

.hero {
  /* Sizing */
  width: 100%;
  height: 85vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;
  /* ADD THIS LINE */

  /* Background styles */
  background-image: url('../public/images/hero.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}